<button>
    <img id="1" class="moreicons" src="">
    <img id="2" class="moreicons" src="">
    <img id="3" class="moreicons" src="">
    <img id="4" class="moreicons" src="">
    <img id="5" class="moreicons" src="">
    <img id="6" class="moreicons" [matMenuTriggerFor]="moreMenu" src="">

    <mat-menu #moreMenu="matMenu" xPosition="before">
        <button mat-menu-item>Delete Note</button>
        <button mat-menu-item>Add Label</button>
        <button mat-menu-item>Add Drawing</button>
        <button mat-menu-item>Make a Copy</button>
        <button mat-menu-item>Show CheckBoxes</button>
    </mat-menu>
    <mat-menu #paletteMenu="matMenu" xPosition="before" id="colorpalette" class="test2">
        <div *ngFor = 'let colors of colorArray'>
            <button class="colorIcon" [style.background]="colors.code"></button>
        </div>
    </mat-menu>
</button>