<div class="auth-container">
    <div class="auth-card">
        <div class="left-section">
            <img src="images/Google_Icon.png" alt="Google Logo">
            <h1>Forget Password</h1>
            <p>with your Google Account. This account will be available to other Google apps in the browser.</p>
        </div>

        <div class="right-section">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your email to change password</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
            </div>

            <div class="actions">
                <button mat-flat-button color="primary">Send</button>
            </div>
        </div>
    </div>
</div>
